<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.websocket.demo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!--<permission android:name="com.qfpay.permission.PUSHCORE"/>-->
    <!--<uses-permission android:name="com.qfpay.permission.PUSHCORE"/>-->
    <application
        android:name="org.websocket.demo.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.websocket.demo.ChatClientActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="org.websocket.demo.SettingActivity"
            />

        <service
            android:name="org.websocket.demo.WebSocketService"
            android:exported="true"
            android:process=":remote"
            >
            <intent-filter>
                <action android:name="org.websocket.demo.WebSocketService">
                </action>
            </intent-filter>
        </service>

        <service
            android:name="com.gprinter.service.GpPrintService"
            android:enabled="true"
            android:exported="true"
            android:label="GpPrintService"
            android:process=":remote"
            >
            <intent-filter>
                <action android:name="com.gprinter.aidl.GpPrintService"/>
            </intent-filter>
        </service>

        <service
            android:name="org.websocket.demo.WebSocketService$DaemonInnerService"
            android:exported="true"
            android:process=":remote"
            >
        </service>

        <meta-data
            android:name="app_type"
            android:value="601" />
    </application>

</manifest>
